<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207042501220-tup8nmilkep0admjkn1cml9d09bcqq66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207042501220-tup8nmilkep0admjkn1cml9d09bcqq66</string>
	<key>API_KEY</key>
	<string>AIzaSyCrPMSQjG3sF_xqzzM0Oda_y-FbZbC-7wA</string>
	<key>GCM_SENDER_ID</key>
	<string>207042501220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spacex.spacera</string>
	<key>PROJECT_ID</key>
	<string>spacera-company-project</string>
	<key>STORAGE_BUCKET</key>
	<string>spacera-company-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207042501220:ios:7fe206dcbd8965d44c9d71</string>
</dict>
</plist>